body {
  font: 14px sans-serif ;
  background-color: deepskyblue;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 150%;
  font-weight: bold;
  line-height: 34px;
  height: 20vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.square:focus {
  outline: none;
}
.square:hover {
  cursor: pointer;
  border: yellow;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 10vh;
  margin-bottom: 20vh;
}
.game h2 {
  text-align: center;
  background-color: yellow;

}
.game-board {
  float: left;
  width: 35%;
  padding-left: 15%;
}

.game-info {
  float: left;
  font: 150%;
  color: white;
  line-height: 6vh;
  width: 50%;
 height: 60vh;

}

.restart{
  background-color: yellow;
  border: 4px solid #999;
  border-radius: 15%;
  height:10vh;
  width:10%;
  font: 3vh bolder;
  margin-left:45%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}


.move:hover{
  cursor: pointer;;
}